body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.active{
  background-color: #20bbfc !important;
  border-color: #fff !important;
}
.sidenav {
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  width:24.99%;
  /* overflow-x: hidden; Disable horizontal scroll */
}
.vh{
  height: 100vh !important;
}
.h100{
  height: 100%;
}
.footer{
  position: absolute;
  bottom:0;
  width:92%;
  margin:0 auto 10px auto !important;
  display: block;
}
.background{
  position: fixed; /* Fixed Background (stay in place on scroll) */
  width:75.01%;
  height: 100vh;
  z-index: -1;
  background-color: #ECECEC  !important;   

}

.background-loading{
  opacity: 0.2;
}
.spinner-1:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top-color: #28a745;
  animation: spinner 0.7s linear infinite;
}

.activeEntregue{
  background-color: #000 !important;
  border-color: #000 !important;
}

.bgdashboard {
  background-color: #384649 !important;
}
.cinza{
  background-color: #ECECEC !important;   
}

.green{
  background-color: #008000!important;
}



@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}