body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.active{
  background-color: #28a745 !important;
  border-color: #1c7932 !important;
}
.sidenav {
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  width:16.66%;
  /* overflow-x: hidden; Disable horizontal scroll */
}
.vh{
  height: 100vh !important;
}
.h100{
  height: 100%;
}
.footer{
  position: absolute;
  bottom:0;
  width:92%;
  margin:0 auto 10px auto !important;
  display: block;
}
.background{
  position: fixed; /* Fixed Background (stay in place on scroll) */
  width:83.34%;
  height: 100vh;
  z-index: -1;
}