.login {
  background-image: url('../assets/images/login.jpg');
  background-size: cover;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-form {
  height: 300px;
  width: 350px;
}
